body{
    background-color: grey;
}

#intro{
    display: flex;
    padding-top: 35vh;
    justify-content: center;
}

#introMessage{
    font-size: 20pt;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#container{
    display: flex;
    justify-content: center;
}

#textbox{
    height: 5vh;
    font-size: 18pt;
}

#button{
    margin-left: 5px;
    width: 5vw;
    font-size: 13pt;
    cursor: pointer;
}

#messageContainer{
    display: flex;
    justify-content: center;
}

#message{
    font-size: 30pt;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

@media (max-width: 800px){
    #intro{
        padding-top: 20vh;
    }
    
    #textbox{
        width: 45vw;
    }

    #button{
        width: 20vw;
    }
}